{%- set asterisks = '*' * 62 -%}
{{ asterisks }}
*{{ 'WARNING:'.center(60) }}*
*{{ ' '.center(60) }}*
*{{ 'This system is owned and maintained by EST Kraken Team'.center(60) }}*
*{{ 'Any Unauthorized access to this system is prohibited and'.center(60) }}*
*{{ 'Access to this system is logged and monitored.'.center(60) }}*
*{{ ' '.center(60) }}*
*{{ 'HOSTNAME: ' ~ ansible_hostname.center(47) ~ ' ' }}*
*{{ ' '.center(60) }}*
{{ asterisks }}
